{% load static %}

<html lang="en">
<head>
    <title>Organizer| About</title> {% include "dependencies.html" %} 
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> 
        {% include "nav.html" %}
    <img src="{% static "/images/me.jpg" %}" alt="Hi!" />
  <br><br>
  <p class="">I am a rising senior pursuing my bachelors in computer science from California State Universtity, Chico. My interest ranges from Software Engineering to Data Science. Outside of this, I like to travel a lot and learn about different cultures and their intricacies. I play competitive tennis and love cooking. I am a huge movie buff and I love my westerns. <em>Fun Fact:</em> I learned Mixed Martial Arts in Moscow.</p>
  <br>

  <h3>Steps taken:</h3>

  <ol>
      <li>Created a Django project</li>

      <li>Started a Django app</li>

      <li>Created a urls.py file inside the app</li>

      <li>Added the urls.py file in the main projects urls.py file</li>

      <li>Created a templates folder with Django hierarchy inside app folder</li>

      <li>Created a Static folder with Django hierarchy in the main folder</li>

      <li>Created the HTML files inside the templates folder</li>

      <li>Created functions inside views.py file to render HTML</li>

      <li>Created the snippet files to remove redundancy</li>

      <li>Added the app to the settings.py file</li>

      <li>Added static dirs to the settings.py file</li>

      <li>Create the tasks, budget and journal app</li>

      <li>Create the models for tasks, budget and journal app</li>

      <li>Implemented user specific pages</li>

      <li>Used chart.js to visualize on dashboard</li>

      <li>Implemented REST Endpoints</li>

      <li>Dockerized the Organizer</li>


  </ol>
</div>

    
</body>
</html>