{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Organizer | Journal | Delete</title>
  {% include "dependencies.html" %}
</head>
<body>
  <!-- Image and text -->
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include "nav.html" %}

    <h1 class="masthead-brand text-center">Delete Journal</h1>


    <div class="jumbotron">
      <h1 class="display-6">Are you sure you want to delete? {{Journal.description}}</h1>
      <hr class="my-4">
      <p class="lead text-center">
        <a class="btn btn-dark btn-lg" href="{% url 'journal' %}" role="button">Cancel</a>
        <form class="text-center" action="" method="POST">
          {% csrf_token %}
          <input class="btn btn-danger btn-lg" type="submit" value="Delete">
        </form>
      </p>
    </div>

  </div>


</body>
</html>
