{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Organizer | Budget</title>
  {% include "dependencies.html" %}
</head>
<body>
  <!-- Image and text -->
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include "nav.html" %}


    <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <h1 class="masthead-brand text-center">Budget</h1>
          <h1></h1>
          <h1></h1>
          <table class="table">
            <tr>
              <th>Description</th>
              <th>Category</th>
              <th>Projected</th>
              <th>Actual</th>
              <th>Action</th>
              <form class="" method="POST" action="/budget/">
                {% csrf_token %}

                <tr>
                  <td>{{form.description}}</td>
                  <td>{{form.category}}</td>
                  <td>{{form.projected}}</td>
                  <td>{{form.actual}}</td>
                  <td><input class="btn btn-outline-primary" type="submit" name="Create Task" value="Add"></td>
                </tr>

              </form>

              {% for budget in budgets %}
              <tr>
                <td>{{budget.description}}</td>
                <td>{{budget.category}}</td>
                <td>{{budget.projected}}</td>
                <td>{{budget.actual}}</td>
                <td><a class="btn btn-outline-info" href="{% url 'updateBudget' budget.id %}">Edit</a>
                  <a class="btn btn-danger" href="{% url 'deleteBudget' budget.id %}">Delete</a></td>

              </tr>
              {% endfor %}
            </tr>
          </table>
        </div>

      </div>
    </div>
    <br>
    <br>
    <h4 class="text-center masthead-brand">There is a projected budget {{ans}} of {{diff}}</h4>
  </div>

</body>
</html>
